*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 55px;
}
.material-icons{
  color: rgb(96, 96, 96);
}
.left-h img{
  width: 50px;
  padding: 0 8px;
  margin-left: 10px;
}
.left-h{
  display: flex;
  align-items: center;
}
.left-h i{
  cursor: pointer;
}
.middle-h{
  display: flex;
  align-items: center;
  border: 1px solid rgb(178, 169, 169);
  height: 37px;
}
.middle-h input{
  height: 35px;
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 0;
}
.middle-h button{
  height: 35px;
  border: none;
  border-radius: 0;
  justify-content: flex-end;
}
.sidebar{
  height: 100%;
  width: 230px;
}
.sidebar-item{
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  padding: 27px;
  gap: 15px;
}
.sidebar-item span{
  color: rgb(144, 141, 141);
}
.sidebar-item:hover{
  background-color: rgb(242, 238, 238);
  cursor: pointer;
}
.sidebar::-webkit-scrollbar{
  display: none;
}
.upper , .lower{
  padding: 20px 0;
}
.main{
  display: flex;
}
.contents{
  border-top: 1px solid #ddd;
  height: calc(100vh - 55px);
  width: calc(100vw - 230px);
  background-color: #f9f9f9;
  padding: 20px;
}
.video-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.video{
  width: 310px;
  margin-bottom: 30px;
}
.thumbnail{
  width: 100%;
  height: 170px;
}
.thumbnail img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.details{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.author img{
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.title{
  display: flex;
  flex-direction: column;
}
.title .name{
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.title .channel-name a, .views{
  text-decoration: none;
  color: gray;
}
